body {
    margin: 0;
    font-family: "BYekan" !important;
    background: url("../imgs/bg1.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    direction: rtl;
}
