.user-box {
    /* text-align: left; */
    direction: ltr;
    border: 1px solid slategray;
    border-radius: 10px;
    background-color: rgba(145, 146, 182, 0.752);
    margin: 25px 30px;
    box-shadow: 0 8px 20px rgba(10, 10, 10, 0.281);
    padding: 10px 20px 20px 10px;
   
  }
  
  .user-name {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
  }
  
  .user-email,
  .user-phone {
      font-size: 16px;
      font-weight: bold;
      margin: 10px;
  }
  